.work-info {
    box-shadow: 2px 2px 12px rgba(0,0,0,.1);
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.work-info li {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    box-shadow: 0 1px 0 #f2f4f5;
}

.work-info p {
    word-break: break-all;
    text-indent: 2em;
}

.work-info span {
    display: inline-block;
    width: 100px;
    flex-shrink: 0;
    text-align: left;
}

/*
    user-control  Start
 */
.user-control {
   border-radius: 4px;
   box-shadow: 0 1px 0 #f2f4f5;
   margin-top: 100px;
   padding: 0 20px 10px;
}

.control-btns li {
   padding: 10px;
}
/*
 user-control  End
*/


/*
    comment-widget Start
 */
.comment-widget {
    margin-top: 100px;
}

.comment-widget h4{
    box-shadow: 0 1px 0 #f2f4f5;
    padding-bottom: 10px;
}

.comment-widget h4 span {
    font-size: 16px;
    color: #AAA;
    float: right;
    cursor: pointer;
}
.comment-widget h4 span:hover {
    color: #e50012;
}

.user-control .host {
    display: none;
}

.comment-publish {
    margin-top: 20px;
    margin-bottom: 40px;
    display: none;
}
.comment-publish textarea {
    resize: none;
    width: 100%;
}
.comment-btns,.comment-user {
    text-align: right;
}

.comment-body {
    margin-top: 20px;
}
.comment-body li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    box-shadow: 0 1px 0 #f2f4f5;
}
.comment-body p {
    text-indent: 2em;
}
.comment-user span {
    margin-left: 1em;
}
 /*
     comment-widget End
  */

/*
    member-info Start
 */
.member-info {
    margin-top: 50px;
}

#memberModal .member-info {
    margin-top: 10px;
}

#memberModal .modal-body table th,#memberModal .modal-body table td{
    text-align: center;
}

#memberModal h4 {
    font-weight: bolder;
}
