

/*
    user-info  Start
 */
.user-info {
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 12px rgba(0,0,0,.1);
    margin-top: 100px;
    padding: 0 20px 20px;
}

.user-info button {
    margin-top: 20px;
}

.user-info .introduction p{
    padding-left: 4em;
}
.user-show {
    display: none;
}
.user-show li {
    margin: 10px 10px 0; 
}

.user-show .introduction p {
    margin-top: 10px;
    text-indent: 2em;
}

.user-edit {
    margin-top: 20px;
    /*display: none;*/
}
.form-horizontal textarea {
    resize: none;
}

.user-edit label {
    font-weight: normal;
}
/*
    user-info  End
 */

 /*
     user-control  Start
  */
.user-control {
    border-radius: 4px;
    box-shadow: 0 1px 0 #f2f4f5;
    margin-top: 100px;
    padding: 0 20px 10px;
}
 
.control-btns li {
    padding: 10px;
}
/*
  user-control  End
*/

/*
    user-work  Start
 */
.user-works {
   /*height: 200px;  */
   border-radius: 4px;
   border: 1px solid #ddd;
   box-shadow: 2px 2px 12px rgba(0,0,0,.1);
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 0 20px 10px;
}

.user-works .title,.user-info .title {
    color: #888;
}

.works {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.works li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-works .work-summary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 2rem;
}
.user-works .work-detail{
    color: #888;
    margin-left: 20px;
    cursor: pointer;
}
.user-works .work-detail:hover {
    color: #333;
}

.works li:nth-last-of-type(1) {
    text-align: right;
}
/*
 user-work  End
*/
